/* Fundo radial que você escolheu */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111927;
    background-image:
        radial-gradient(at 47% 33%, hsl(162, 77%, 40%) 0, transparent 59%),
        radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 55%);
    font-family: 'Inter', sans-serif;
}


.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 40px;
    width: 350px;
    color: white;
    text-align: center;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


.input-group { text-align: left; margin-bottom: 20px; }
label { display: block; margin-bottom: 8px; color: #ccc; }
input {
    width: 100%;
    padding: 12px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: white;
    box-sizing: border-box;
}

.btn-sign {
    width: 100%;
    padding: 12px;
    background-color: #00e676;
    border: none;
    border-radius: 8px;
    color: #111;
    font-weight: bold;
    cursor: pointer;
}