:root {
    --bg-white: #ffffff;
    --text-black: #000000;
    --text-gray: #757575;
    --line-color: #e0e0e0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-white); /* FUNDO BRANCO PURO */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-wrapper {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.brand {
    text-align: center;
    letter-spacing: 4px;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 50px;
    color: var(--text-black);
}

h1 {
    font-size: 2rem;
    margin: 0 0 10px 0;
    font-weight: 700;
}

.subtitle {
    color: var(--text-gray);
    margin-bottom: 40px;
    font-size: 1rem;
}

.input-group {
    margin-bottom: 30px;
}

.input-group label {
    display: block;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--text-gray);
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.input-group input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--line-color); /* APENAS A LINHA */
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    background: transparent;
}

.input-group input:focus {
    border-bottom: 1px solid var(--text-black);
}

.form-options {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    margin-bottom: 40px;
    color: var(--text-gray);
}

.btn-entrar {
    width: 100%;
    background-color: #0f1715;
    color: white;
    border: none;
    padding: 16px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.85rem;
    color: var(--text-gray);
}

footer a {
    color: var(--text-black);
    text-decoration: underline;
    font-weight: 600;
}