:root {
    --primary-color: #0f1715;
    --accent-color: #00e676;
    --bg-color: #ffffff;
    --text-main: #000000;
    --text-sub: #757575;
    --border-light: #e0e0e0;
}

body {
    background-color: var(--bg-color);
    font-family: 'Inter', -apple-system, sans-serif;
    color: var(--text-main);
    margin: 0;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    max-width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

h1 {
    color: var(--text-main);
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
}

header span {
    font-size: 0.9rem;
    color: var(--text-sub);
}

header strong {
    color: var(--text-main);
    margin-right: 15px;
}


.btn-logout {
    background-color: transparent;
    color: var(--text-main);
    border: 1px solid var(--text-main);
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-logout:hover {
    background-color: var(--text-main);
    color: white;
}


.form-container {
    background: white;
    padding: 30px;
    border: 1px solid var(--border-light);
    border-radius: 12px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 850px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.form-container h2 {
    width: 100%;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 20px;
}

input {
    padding: 12px;
    border: 1px solid var(--border-light);
    border-radius: 8px;
    flex: 1;
    min-width: 150px;
    font-size: 0.9rem;
    outline: none;
}

input:focus {
    border-color: var(--text-main);
}

button[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: 700;
}


table {
    width: 100%;
    max-width: 850px;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #f8f9fa;
    border-bottom: 2px solid var(--text-main);
}

th {
    padding: 15px;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--text-main);
    letter-spacing: 1px;
    text-transform: uppercase;
}

td {
    padding: 20px 15px;
    border-bottom: 1px solid var(--border-light);
    font-size: 0.95rem;
}

tr:hover {
    background-color: #fafafa;
}


tfoot tr td {
    padding: 25px 15px;
    color: var(--text-main);
    font-weight: 800;
    font-size: 1.1rem;
    border-top: 2px solid var(--text-main);
    border-bottom: none;
}