h1 {
color:purple}

.btn-delete {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.2s;
}
.btn-delete:hover {
    transform: scale(1.2);
}