<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - SmartExpense</title>
    <link rel="stylesheet" th:href="@{/loginstyle.css}">
</head>
<body>
<div class="login-wrapper">
    <div class="brand">D E S P E S A S</div>

    <h1>Entrar</h1>
    <p class="subtitle">Bem-vindo de volta.</p>

    <form th:action="@{/login}" method="POST">
        <div class="input-group">
            <label>Usuário</label>
            <input type="text" name="username" placeholder="seu usuario" required>
        </div>

        <div class="input-group">
            <label>SENHA</label>
            <input type="password" name="password" placeholder="••••••••" required>
        </div>

        <div class="form-options">
            <label><input type="checkbox"> Lembrar-me</label>
            <a href="#">Esqueceu a senha?</a>
        </div>

        <button type="submit" class="btn-entrar">Entrar</button>
    </form>

    <footer>
        Não tem conta? <a th:href="@{/cadastro}">Criar conta</a>
    </footer>
</div>
</body>
</html>